<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.projetoanhembi.projetoanhembi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".First_Aba"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Second_aba"
            android:label="@string/title_activity_second_aba"
            android:parentActivityName=".First_Aba" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.projetoanhembi.projetoanhembi.First_Aba" />
        </activity>
        <activity
            android:name=".Terd_aba"
            android:label="@string/title_activity_terd_aba"
            android:parentActivityName=".First_Aba" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.projetoanhembi.projetoanhembi.First_Aba" />
        </activity>
        <activity
            android:name=".Quarter_aba"
            android:label="@string/title_activity_quarter_aba"
            android:parentActivityName=".First_Aba" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.projetoanhembi.projetoanhembi.First_Aba" />
        </activity>
        <activity
            android:name=".Fifth_aba"
            android:label="@string/title_activity_fifth_aba"
            android:parentActivityName=".First_Aba" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.projetoanhembi.projetoanhembi.First_Aba" />
        </activity>
    </application>

</manifest>
